.place__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  color: white;
  padding: 0;
  margin: 0;
  max-width: 90vw;
  min-width: 288px;
}
@media screen and (min-width: 768px) {
  .place__title {
    width: 330px; /*Этот размер тут только для того, чтобы Куршская коса переносилась на вторую строку в соотвествии с макетом, иначе только <br> и стили к нему на отключение*/
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    max-width: 440px;
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (min-width: 1280px) {
  .place__title {
    max-width: 460px;
  }
}
