.places {
  min-width: 288px;
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .places {
    width: 93.75vw;
    margin: 88px auto 0;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    width: 90.625vw;
    margin: 80px auto 0;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    width: 76.875vw;
    margin: 92px auto 0;
  }
}
