.intro__list {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  margin: 34px 0 0;
  padding: 0;
  color: white;
}

@media screen and (min-width: 1024px) {
  .intro__list {
    max-width: 690px;
  }
}
