.place__link {
  font-family: Inter;
  font-size: 18px;
  line-height: 22px;
  color: white;
  opacity: 1;
  -webkit-transition: opacity 0.5s linear 0s;
  -o-transition: opacity 0.5s linear 0s;
  transition: opacity 0.5s linear 0s;
  margin: 0;
  padding: 0;
  max-width: 90vw;
  min-width: 288px;
}
.place__link:hover{
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .place__link {
    max-width: 100%;
  }
}
