.cover__background {
  background-image: url(../../../images/dmitrii-vaccinium-22833-unsplash_small.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 62.5vw;
  padding-top: 33px;
  position: relative;
  box-sizing: border-box;
}

.cover__background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  -webkit-transition: opacity 0.5s linear 0s;
  -o-transition: opacity 0.5s linear 0s;
  transition: opacity 0.5s linear 0s;
}

.cover__background:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .cover__background {
    background-image: url(../../../images/dmitrii-vaccinium-22833-unsplash.jpg);
    padding-top: 115px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__background {
    padding-top: 195px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__background {
    width: 92.5vw;
    height: 57.8125vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 245px;
  }
}
