.cover__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  margin: 0 auto 16px;
  padding: 0;
  max-width: 288px;
  color: white;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 32px;
  }
}
