.place {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 50px;
  justify-items: center;
  gap: 32px;
}
.place:last-of-type {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    margin: 0 auto 72px;
    justify-items: start;
    gap: 48px 28px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    margin: 0 auto 72px;
    gap: 48px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 1fr;
    margin: 0 auto 72px;
    gap: 48px 40px;
  }
}
